table.GeneratedTable {
  width: 30%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7600eb;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #7600eb;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #5c00b8;
}
