* {
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: blanchedalmond;
}
    
.topnav {
    overflow: hidden;
    flex-basis: 100%;
    text-align: left;
    padding: 1em;
    background-color: rgb(165, 165, 165);
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(102, 102, 102);
    color: black;
}

.topnav a.active {
    background-color: rgb(102, 102, 102);
    color: white;
}

.textBodyContainer {
    background-color: aliceblue;
    flex-basis: 60%;
    margin-top: 2em;
}

.textContainer{
    margin: 1em;
}

.content {
    padding: 1em;
}

#PlayerInfoImg {
    height:auto;
    width: 80%;
}

#sp3Video{
    height: auto;
    width: 60%;
}

#sp2Video{
    height: auto;
    width: 60%;
}

img, video {
    margin-top: 1em;
}

ul {
    list-style-position: inside;
 }